In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
data = pd.read_csv("../data/healthcare_data.csv")
data.head(20)

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighborhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,showed_up
0,2.987250e+13,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,False,True,False,False,False,False,True
1,5.589978e+14,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,False,False,False,False,False,True
2,4.262962e+12,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,False,False,False,False,False,False,True
3,8.679512e+11,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,False,False,False,False,False,False,True
4,8.841186e+12,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,True,True,False,False,False,True
5,9.598513e+13,5626772,F,2016-04-27,2016-04-29,76,REPÚBLICA,False,True,False,False,False,False,True
6,7.336882e+14,5630279,F,2016-04-27,2016-04-29,23,GOIABEIRAS,False,False,False,False,False,False,False
7,3.449833e+12,5630575,F,2016-04-27,2016-04-29,39,GOIABEIRAS,False,False,False,False,False,False,False
8,5.639473e+13,5638447,F,2016-04-29,2016-04-29,21,ANDORINHAS,False,False,False,False,False,False,True
9,7.812456e+13,5629123,F,2016-04-27,2016-04-29,19,CONQUISTA,False,False,False,False,False,False,True
10,7.345362e+14,5630213,F,2016-04-27,2016-04-29,30,NOVA PALESTINA,False,False,False,False,False,False,True
11,7.542951e+12,5620163,M,2016-04-26,2016-04-29,29,NOVA PALESTINA,False,False,False,False,False,True,False
12,5.666548e+14,5634718,F,2016-04-28,2016-04-29,22,NOVA PALESTINA,True,False,False,False,False,False,True
13,9.113946e+14,5636249,M,2016-04-28,2016-04-29,28,NOVA PALESTINA,False,False,False,False,False,False,True
14,9.988472e+13,5633951,F,2016-04-28,2016-04-29,54,NOVA PALESTINA,False,False,False,False,False,False,True
15,9.994839e+10,5620206,F,2016-04-26,2016-04-29,15,NOVA PALESTINA,False,False,False,False,False,True,True
16,8.457439e+13,5633121,M,2016-04-28,2016-04-29,50,NOVA PALESTINA,False,False,False,False,False,False,True
17,1.479497e+13,5633460,F,2016-04-28,2016-04-29,40,CONQUISTA,True,False,False,False,False,False,False
18,1.713538e+13,5621836,F,2016-04-26,2016-04-29,30,NOVA PALESTINA,True,False,False,False,False,True,True
19,7.223289e+12,5640433,F,2016-04-29,2016-04-29,46,DA PENHA,False,False,False,False,False,False,True