In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

Go into settings. Type `notebook scrolling`. Enable `Notebook > Output: Scrolling`. This will be helpful.

In [18]:
data = pd.read_csv("../data/healthcare_data.csv")
data.head(20)

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighborhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,showed_up
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,False,True,False,False,False,False,True
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,False,False,False,False,False,True
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,False,False,False,False,False,False,True
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,False,False,False,False,False,False,True
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,True,True,False,False,False,True
5,95985133231274,5626772,F,2016-04-27,2016-04-29,76,REPÃšBLICA,False,True,False,False,False,False,True
6,733688164476661,5630279,F,2016-04-27,2016-04-29,23,GOIABEIRAS,False,False,False,False,False,False,False
7,3449833394123,5630575,F,2016-04-27,2016-04-29,39,GOIABEIRAS,False,False,False,False,False,False,False
8,56394729949972,5638447,F,2016-04-29,2016-04-29,21,ANDORINHAS,False,False,False,False,False,False,True
9,78124564369297,5629123,F,2016-04-27,2016-04-29,19,CONQUISTA,False,False,False,False,False,False,True
10,734536231958495,5630213,F,2016-04-27,2016-04-29,30,NOVA PALESTINA,False,False,False,False,False,False,True
11,7542951368435,5620163,M,2016-04-26,2016-04-29,29,NOVA PALESTINA,False,False,False,False,False,True,False
12,566654781423437,5634718,F,2016-04-28,2016-04-29,22,NOVA PALESTINA,True,False,False,False,False,False,True
13,911394617215919,5636249,M,2016-04-28,2016-04-29,28,NOVA PALESTINA,False,False,False,False,False,False,True
14,99884723334928,5633951,F,2016-04-28,2016-04-29,54,NOVA PALESTINA,False,False,False,False,False,False,True
15,99948393975,5620206,F,2016-04-26,2016-04-29,15,NOVA PALESTINA,False,False,False,False,False,True,True
16,84574392942817,5633121,M,2016-04-28,2016-04-29,50,NOVA PALESTINA,False,False,False,False,False,False,True
17,14794966191172,5633460,F,2016-04-28,2016-04-29,40,CONQUISTA,True,False,False,False,False,False,False
18,17135378245248,5621836,F,2016-04-26,2016-04-29,30,NOVA PALESTINA,True,False,False,False,False,True,True
19,7223289184215,5640433,F,2016-04-29,2016-04-29,46,DA PENHA,False,False,False,False,False,False,True